<%- include ('layouts/header') %>
<h2 class="table">Manage Users</h2>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Designation</th>
    <th>Semester</th>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td><%= user.username %></td>
      <td><a href="/admin/user/<%= user.id %>"><%= user.email %></a></td>
      <td>
        <form
          action="/admin/update-role"
          method="post"
          class="manage-user-form"
        >
          <input type="hidden" name="id" value="<%= user.id %>" />
          <select name="role" id="role">
            <option value="ADMIN" <%= user.role === 'ADMIN' ? 'selected' : '' %> >Admin</option>
            <option value="WARDEN" <%= user.role === 'WARDEN' ? 'selected' : '' %>>Warden</option>
            <option value="MATRON" <%= user.role === 'MATRON' ? 'selected' : '' %>>Matron</option>
            <option value="CLIENT" <%= user.role === 'CLIENT' ? 'selected' : '' %>>Client</option>
          </select>
          <input type="submit" value="update">
        </form>
      </td>
      <td>
        <form
        action="/admin/update-semester"
        method="post"
        class="manage-user-form"
      >
        <input type="hidden" name="id" value="<%= user.id %>" />
        <input type="hidden" name="role" value="<%= user.role %>" />
        <select name="semester" id="semester">
          <option value="NOT SET" <%= user.semester === 'nil' ? 'selected' : '' %> >NIL</option>
          <option value="S1" <%= user.semester === 's1' ? 'selected' : '' %> >S1</option>
          <option value="S2" <%= user.semester === 's2' ? 'selected' : '' %> >S2</option>
          <option value="S3" <%= user.semester === 's3' ? 'selected' : '' %> >S3</option>
          <option value="S4" <%= user.semester === 's4' ? 'selected' : '' %> >S4</option>
          <option value="S5" <%= user.semester === 's5' ? 'selected' : '' %> >S5</option>
          <option value="S6" <%= user.semester === 's6' ? 'selected' : '' %> >S6</option>
          <option value="S7" <%= user.semester === 's7' ? 'selected' : '' %> >S7</option>
          <option value="S8" <%= user.semester === 's8' ? 'selected' : '' %> >S8</option>
        </select>
        <input type="submit" value="update">
      </form></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include ('layouts/footer') %>
